body {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 0 8px 6px 8px;
    margin: 0;
}
body > header {
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    margin-bottom: 18px;
}
body > header > p {
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 0;
}
body > header > h1 {
    display: inline-block;
    margin: 20px 0 6px 0;
}
body > header > h1 > em {
    font-size: 0.6em;
    font-style: italic;
    color: #CCCCCC;
}
body > header > h1 > a,
body > header > h1 > a:hover {
    color: #DB1A1A;
    text-decoration: none;
}

body > section#widgets {
    width: 300px;
    position: absolute;
    right: 0;
    padding: 8px 4px;
}
body > section#widgets > h1 {
    font-size: 1.5em;
    background-color: #285e8e;
    color: white;
    padding: 4px;
    letter-spacing: 2px;
}
body > section#widgets > h1 > a,
body > section#widgets > h1 > a:hover {
    font-size: 0.5em;
    color: #d9edf7;
    letter-spacing: 1px;
}
body > section#widgets > ul > li {
    font-size: 0.8em;
}